html {
  font-size: 90%; 
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #0E0E0E;
  color: white;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: bold;
  margin: 0;
  overflow-x: hidden; 
}

/* --- NAVIGATION TERMINAL --- */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d0d0d;
  padding: 1rem 3%; 
  color: #fff;
}

.logo a {
  color: #DAB9FF;
  font-weight: bold;
  font-size: 1.9rem;
  text-decoration: none;
}

.logo a:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--card-color);
  border-radius: 0.3rem;
  transition: all 0.2s ease;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-right: 10%;
  gap: 2rem; 
  transition: all 0.2s ease;
  margin: 0;
}

.navbar .nav-links a:hover {
  color: #fff;
  text-decoration: none;
  background-color: var(--card-color);
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  transition: all 0.2s ease;
}

.nav-links a {
  text-decoration: none;
  color: #DAB9FF;
  transition: all 0.2s ease;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}

.nav-links li.active a {
  color: #fff;
  border-bottom: 0.14rem solid #DAB9FF;
  padding-bottom: 0.35rem;
}

.profile-pic img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #2a3a3a;
  border: 0.07rem solid #444;
  cursor: pointer;
}

.bell-icon {
  color: #DAB9FF;
  cursor: pointer;
}

p {
  display: inline-block;
  margin-right: 3.5rem;
  vertical-align: top;
}

.big-header {
  padding-left: 2%;
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -0.14rem;
  margin-bottom: 0;
}

.small-header {
  padding-left: 2%;
  font-size: 1rem;
  letter-spacing: 0.04rem;
  opacity: 0.7;
}

.big-text {
  font-size: 5rem;
}

.small-line {
  border-bottom: 0.35rem solid #DAB9FF;
  width: 100%;
  max-width: 18rem;
  border-radius: 0.3rem;
}


.block-container {
  display: flex;
  gap: 3.5rem;
  padding-left: 2%;
  padding-top: 3%;
  padding-right: 3%;
}

.sub-block {
  flex: 1;
  background-color: #2a2a2a;
  padding: 2rem;
  border-radius: 0.8rem;
  min-height: 10.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.timeline {
  position: relative;
  padding-left: 2.8rem;
  border-left: 0.14rem solid #1b1b1b;
  margin: 1.4rem;
  width: 100%;
}

.timeline-item {
  position: relative;
  margin-bottom: 2.8rem;
}

.dot {
  position: absolute;
  left: -3.3rem;
  top: 1rem;
  width: 0.85rem;
  height: 0.85rem;
  background-color: #444;
  border-radius: 50%;
}

.dot.active {
  background-color: #a389f4;
  box-shadow: 0 0 0.7rem #a389f4;
}

.time {
  font-size: 0.85rem;
  color: #666;
}


.card {
  background-color: #1a1a1a;
  padding: 1.4rem;
  margin-left: 2%;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 9%;
}

.card h3, .card p {
  margin: 0;
}

.card.highlighted {
  border-left: 0.3rem solid #a389f4;
}

.smallcard {
  background-color: #1a1a1a;
  padding: 1.4rem;
  padding-left: 3rem;
  padding-right: 5rem;
  margin: 2%;
  margin-left: -10%;
  border-radius: 0.5rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 96%;
}

.bar {
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 0.5rem;
  background-color: #444;
  border-radius: 0.3rem;
  width: 100%;
}
.arch-progress {
  width: 68%;
}

.ai-progress {
  width: 81%;
}

.data-progress {
  width: 42%;
}

.db-progress {
  width: 55%;
}

.security-progress {
  width: 15%;
}

.bar.highlighted {
  z-index: 10;
  margin-bottom: 2%;
  background-color: #a389f4;
}

.bar.notactive {
  background-color: #000000;
}

.bar.hidden {
  z-index: 10;
  margin-bottom: 2%;
  background-color: #52525B;
}


.dashboard {
  justify-content: space-between;
  display: flex;
  padding: 0 3%;
  width: 100%;
  gap: 3.5rem;
}

.schedule-section {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
}

.tasks-section {
  width: 100%;
  max-width: 57rem;
  flex-shrink: 0;
  flex: 0 0 55%;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding-left: 5%;
}

.tasks-header {
  padding-top: 3.5%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: -1.4rem;
  padding-left: 2%;
}

.tasks-header h2 {
  font-size: 1.5rem;
  color: white;
}

.tasks-header a {
  font-size: 0.7rem;
  letter-spacing: 0.07rem;
  color: #a389f4;
  text-decoration: none;
}


.form-container {
  padding: 3%;
  margin-left: 3%;
  width: 94%;
  border-radius: 0.5rem;
  background-color: #1C1B1B;
}

.form-container h3 {
  opacity: 0.5;
  max-width: 40%;
}

label {
  display: block;
  opacity: 0.7;
  letter-spacing: 0.07rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

input {
  display: flex;
  width: 100%;
  max-width: 39rem;
  height: 2.1rem;
  padding: 0.7rem;
  margin-top: 0.35rem;
  margin-right: 1.4rem;
  margin-bottom: 2.8rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #0d0d0d;
  color: #fff;
}

input:focus {
  outline: none;
  box-shadow: 0 0 0.35rem #8b7ddb;
}

input::placeholder {
  color: #333;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
}

.btn-container {
  display: flex;
  gap: 1.5rem;
}

.add-course-btn {
  display: block;
  width: 100%;
  max-width: 10.7rem;
  padding: 0.7rem;
  background-color: #DAB9FF;
  border-radius: 0.7rem;
  border: none;
  cursor: pointer;
}

.discard-btn {
  background-color: #0E0E0E;
  width: 100%;
  max-width: 10.7rem;
  padding: 0.7rem;
  border-radius: 0.7rem;
  color: #fff;
  border: none;
  cursor: pointer;
}


.contact-page {
  display: flex;
  gap: 2rem;
  padding: 0 3%;
}

.contact-card {
  background-color: #1C1B1B;
  width: 40%;
  padding: 3%;
  border-radius: 0.5rem;
  border-left: #444 solid 0.4rem;
}

.faq {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.faq-item {
  background-color: #0E0E0E;
  padding: 1.4rem;
  border-radius: 0.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #1C1B1B;
  width: 50%;
  min-height: 55rem;
  border-radius: 0.4rem;
  padding-top: 1.5rem;
}

.contact-inputs {
  display: flex;
  flex-direction: column;
  padding-left: 3%;
}

.contact-inputs input, .contact-inputs textarea {
  background-color: #131313;
  border: none;
  border-radius: 0.5rem;
  width: 89%;
  margin-right: 3%;
  padding-bottom: 2rem;
}

.contact-inputs button {
  background-color: #BB86FC;
  width: 85%;
  padding: 2%;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 0.4rem;
  color: #460283;
  font-size: 1.2rem;
  font-family: Inter;
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  max-width: 100rem;
  margin: 5rem auto 0 auto;
  font-size: 0.95rem;
  letter-spacing: 0.14rem;
  text-transform: uppercase;
  color: #71717A;
}


@media (max-width: 1024px) {
  .big-header {
    font-size: 3.5rem;
  }
  
  .dashboard, .block-container, .contact-page {
    flex-direction: column;
    gap: 2rem;
  }

  .schedule-section, .tasks-section, .contact-card, .contact-form {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
  }

  .contact-form {
    min-height: auto;
    padding-bottom: 2rem;
  }

  .row {
    grid-template-columns: 1fr;
  }

}


@media (max-width: 768px) {
  div[style*="display: flex"] {
    flex-direction: column !important;
    gap: 1.5rem !important;
 
  }
  .progras{
    max-width: fit-content  !important;
  }
  .footer-content{
    flex-direction: column !important;
    font-size: .5rem !important;
  }

  .card, .smallcard {
    width: 100% !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .navbar {
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
  }

  .nav-links {
    padding-right: 0;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .big-header {
    font-size: 2.5rem;
    text-align: center;
    padding-left: 0;
  }

  .big-text {
    font-size: 3rem !important;
    text-align: center;
  }

  .sub-block h1 {
    width: 100% !important;
  }

  .timeline {
    padding-left: 1.5rem;
  }

  .dot {
    left: -1.9rem;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}

@media (max-width: 430px) {
  .nav-links {
    margin-left: 0;
    font-size: 0.9rem;
  }

  .nav-icons {
    justify-content: center;
    width: 100%;
  }

  .sub-block h1 {
    font-size: 2.5rem !important;
  }
}


